[Desktop Entry]
Name=Helium Browser
Comment=Private, fast, and honest web browser
Exec=helium-browser %U
Terminal=false
Type=Application
Icon=helium
Categories=Network;WebBrowser;
MimeType=text/html;text/xml;application/xhtml+xml;application/xml;application/rss+xml;application/rdf+xml;image/gif;image/jpeg;image/png;x-scheme-handler/http;x-scheme-handler/https;
