name: Update templatesList

on:
  push:
    paths:
      - 'srcpkgs/**'
  workflow_dispatch:

permissions:
  contents: write
  actions: write

jobs:
  list-templates:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          TOKEN: ${{ secrets.WORKFLOWS }}

      - name: List templates
        run: |
          rm -f .github/templatesList
          find srcpkgs/* -maxdepth 0 -type d | cut -d'/' -f2 | tee -a .github/templatesList

      - name: Update README
        run: |
          sed -i '/## Available packages/,$!w temp.md' README.md
          sed -i '/## The `vay` script/,$w end.md' README.md
          echo "## Available packages" >> temp.md
          echo "| package | version | homepage | maintainer | notes |" >> temp.md
          echo "|:--------|:--------|:---------|:-----------|:------|" >> temp.md
          while IFS= read -r line; do
            package=$line
            template_file="srcpkgs/$line/template"
            if [ -f "$template_file" ]; then
              homepage=$(grep '^homepage=' "$template_file" | cut -d '=' -f2 | cut -d'"' -f2)
              version=$(grep '^version=' "$template_file" | cut -d '=' -f2)
              maintainer=$(grep '^maintainer=' "$template_file" | cut -d '=' -f2 | cut -d' ' -f1 | cut -d'"' -f2)
              notes=$(grep '^archs=' "$template_file" | cut -d'=' -f2 | cut -d'"' -f2)
              echo "| $package | $version | $homepage | $maintainer | $notes |" >> temp.md
            fi
          done < .github/templatesList
          cat end.md >> temp.md
          mv temp.md README.md
          rm end.md

      - name: Update build workflow
        run: |
          cd .github/workflows
          cp ../build-START.yml build.yml
          sed -i '/options:/,$!w /dev/null' build.yml
          sed -i '/options:/r .github/templatesList' build.yml
          sed -i 's/^/        - /' build.yml
          cat ../build-REST.yml >> build.yml

      - name: "Push results"
        env:
          TOKEN: ${{ secrets.WORKFLOWS }}
        run: |
          git config --global user.name "web-flow"
          git config --global user.email "noreply@github.com"
          git status
          git add --all || echo "Nothing to add"
          git commit -m "Update templatesList" || echo "Nothing to commit"
          git push https://TOKEN:@github.com/oSoWoSo/void-user-repository.git || echo "Nothing to push"
          git push || echo "Nothing to push"
          git status
